#Data import and Preprocessing

In [31]:
import pandas as pd
import numpy as np

In [32]:
data = pd.read_table('meduloblastomiGSE468.tab')
data.head()

,AFFX-MurIL2_at,AFFX-MurIL10_at,AFFX-MurIL4_at,AFFX-MurFAS_at,AFFX-BioB-5_at,AFFX-BioB-M_at,AFFX-BioB-3_at,AFFX-BioC-5_at,AFFX-BioC-3_at,AFFX-BioDn-5_at,...,104_at,105_at,1216_at,788_s_at,426_at,397_at,132_at,hum_alu_at,class,sample
0,c,c,c,c,c,c,c,c,c,c,...,c,c,c,c,c,c,c,c,d,string
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,class,meta
2,-222.867004,44.987,29.072001,107.036003,1633.719971,1792.088013,1450.660034,5234.332031,5408.90918,5754.067871,...,413.343994,54.146999,-43.158001,216.522003,-54.693001,-197.839005,94.212997,16497.83203,Met,GSM4312
3,-372.1480103,132.0480042,32.92200089,190.8150024,12774.59375,16425.99414,11523.09961,37526.45703,39596.67188,43983.26172,...,773.2199707,-47.15100098,52.86899948,-114.637001,-57.47499847,-123.4140015,309.8110046,87164.00781,Met,GSM4313
4,-64.248001,106.371002,7.49,284.80899,2461.489014,2229.948975,1757.072998,7717.64502,6697.812012,7588.408203,...,442.59201,162.167007,-7.781,304.131989,-62.653999,-354.554993,58.750999,16563.77734,Met,GSM4314

In [33]:
data = data.drop(data.index[[0,1]])
data=data.drop(['sample'],axis=1) 
data.head()

,AFFX-MurIL2_at,AFFX-MurIL10_at,AFFX-MurIL4_at,AFFX-MurFAS_at,AFFX-BioB-5_at,AFFX-BioB-M_at,AFFX-BioB-3_at,AFFX-BioC-5_at,AFFX-BioC-3_at,AFFX-BioDn-5_at,...,103_at,104_at,105_at,1216_at,788_s_at,426_at,397_at,132_at,hum_alu_at,class
2,-222.867004,44.987,29.072001,107.036003,1633.719971,1792.088013,1450.660034,5234.332031,5408.90918,5754.067871,...,160.125,413.343994,54.146999,-43.158001,216.522003,-54.693001,-197.839005,94.212997,16497.83203,Met
3,-372.1480103,132.0480042,32.92200089,190.8150024,12774.59375,16425.99414,11523.09961,37526.45703,39596.67188,43983.26172,...,1926.875977,773.2199707,-47.15100098,52.86899948,-114.637001,-57.47499847,-123.4140015,309.8110046,87164.00781,Met
4,-64.248001,106.371002,7.49,284.80899,2461.489014,2229.948975,1757.072998,7717.64502,6697.812012,7588.408203,...,162.720001,442.59201,162.167007,-7.781,304.131989,-62.653999,-354.554993,58.750999,16563.77734,Met
5,-230.5480042,26.29800034,52.44900131,236.4019928,2040.295044,1866.427979,1657.119995,6508.688965,6581.226074,6658.895996,...,2664.638916,442.0679932,91.79199982,-3.720000029,182.1900024,-84.14199829,-153.6909943,96.18800354,6231.430176,Met
6,270.537994,272.761993,-26.153999,207.901993,14976.5752,21094.98633,15805.98535,41854.03906,44083.20703,56576.92969,...,365.582001,703.106018,-42.016998,-147.490005,-168.417999,-213.264008,-200.826996,50.279999,81383.84375,Met

In [34]:
data.index=range(0,len(data),1)
data.head()

,AFFX-MurIL2_at,AFFX-MurIL10_at,AFFX-MurIL4_at,AFFX-MurFAS_at,AFFX-BioB-5_at,AFFX-BioB-M_at,AFFX-BioB-3_at,AFFX-BioC-5_at,AFFX-BioC-3_at,AFFX-BioDn-5_at,...,103_at,104_at,105_at,1216_at,788_s_at,426_at,397_at,132_at,hum_alu_at,class
0,-222.867004,44.987,29.072001,107.036003,1633.719971,1792.088013,1450.660034,5234.332031,5408.90918,5754.067871,...,160.125,413.343994,54.146999,-43.158001,216.522003,-54.693001,-197.839005,94.212997,16497.83203,Met
1,-372.1480103,132.0480042,32.92200089,190.8150024,12774.59375,16425.99414,11523.09961,37526.45703,39596.67188,43983.26172,...,1926.875977,773.2199707,-47.15100098,52.86899948,-114.637001,-57.47499847,-123.4140015,309.8110046,87164.00781,Met
2,-64.248001,106.371002,7.49,284.80899,2461.489014,2229.948975,1757.072998,7717.64502,6697.812012,7588.408203,...,162.720001,442.59201,162.167007,-7.781,304.131989,-62.653999,-354.554993,58.750999,16563.77734,Met
3,-230.5480042,26.29800034,52.44900131,236.4019928,2040.295044,1866.427979,1657.119995,6508.688965,6581.226074,6658.895996,...,2664.638916,442.0679932,91.79199982,-3.720000029,182.1900024,-84.14199829,-153.6909943,96.18800354,6231.430176,Met
4,270.537994,272.761993,-26.153999,207.901993,14976.5752,21094.98633,15805.98535,41854.03906,44083.20703,56576.92969,...,365.582001,703.106018,-42.016998,-147.490005,-168.417999,-213.264008,-200.826996,50.279999,81383.84375,Met

In [35]:
 data = data.rename(columns={'class':'Class'})
 data.Class.value_counts()

NonMet    13
Met       10
Name: Class, dtype: int64

In [36]:
dict = {
    'Class':{
        'NonMet':0,
        'Met':1
    }
}   
data=data.replace(dict)
data.head()

,AFFX-MurIL2_at,AFFX-MurIL10_at,AFFX-MurIL4_at,AFFX-MurFAS_at,AFFX-BioB-5_at,AFFX-BioB-M_at,AFFX-BioB-3_at,AFFX-BioC-5_at,AFFX-BioC-3_at,AFFX-BioDn-5_at,...,103_at,104_at,105_at,1216_at,788_s_at,426_at,397_at,132_at,hum_alu_at,Class
0,-222.867004,44.987,29.072001,107.036003,1633.719971,1792.088013,1450.660034,5234.332031,5408.90918,5754.067871,...,160.125,413.343994,54.146999,-43.158001,216.522003,-54.693001,-197.839005,94.212997,16497.83203,1
1,-372.1480103,132.0480042,32.92200089,190.8150024,12774.59375,16425.99414,11523.09961,37526.45703,39596.67188,43983.26172,...,1926.875977,773.2199707,-47.15100098,52.86899948,-114.637001,-57.47499847,-123.4140015,309.8110046,87164.00781,1
2,-64.248001,106.371002,7.49,284.80899,2461.489014,2229.948975,1757.072998,7717.64502,6697.812012,7588.408203,...,162.720001,442.59201,162.167007,-7.781,304.131989,-62.653999,-354.554993,58.750999,16563.77734,1
3,-230.5480042,26.29800034,52.44900131,236.4019928,2040.295044,1866.427979,1657.119995,6508.688965,6581.226074,6658.895996,...,2664.638916,442.0679932,91.79199982,-3.720000029,182.1900024,-84.14199829,-153.6909943,96.18800354,6231.430176,1
4,270.537994,272.761993,-26.153999,207.901993,14976.5752,21094.98633,15805.98535,41854.03906,44083.20703,56576.92969,...,365.582001,703.106018,-42.016998,-147.490005,-168.417999,-213.264008,-200.826996,50.279999,81383.84375,1

#Running 10 fold CV without any filter

In [37]:
from numpy import mean
from numpy import std
from sklearn.model_selection import train_test_split

from sklearn.datasets import make_classification
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

X = data.drop(['Class'], axis=1)
y = data.Class
cv = KFold(n_splits=10, random_state=1, shuffle=True)

from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

SVM = SVC()
RFC = RandomForestClassifier()
KNN=KNeighborsClassifier()
NB=GaussianNB()

scores = cross_val_score(SVM, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
print('SVM Accuracy 10 fold: %.4f (%.3f)' % (mean(scores)*100, std(scores)))
scores = cross_val_score(RFC, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
print('RFC Accuracy 10 fold: %.4f (%.3f)' % (mean(scores)*100, std(scores)))
scores = cross_val_score(KNN, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
print('KNN Accuracy 10 fold: %.4f (%.3f)' % (mean(scores)*100, std(scores)))
scores = cross_val_score(NB, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
print('NB  Accuracy 10 fold: %.4f (%.3f)' % (mean(scores)*100, std(scores)))

SVM Accuracy 10 fold: 45.0000 (0.279)
RFC Accuracy 10 fold: 43.3333 (0.281)
KNN Accuracy 10 fold: 23.3333 (0.327)
Naive Bayes Accuracy 10 fold: 45.0000 (0.167)

#Filter Assembling

*CHI-SQUARE*

In [416]:
#Chi-Square Test

import scipy.stats as stats
from scipy.stats import chi2

def chi_sqr(test_column,output_column):
    observed_value = pd.crosstab(test_column,output_column)
    val = stats.chi2_contingency(observed_value)
    expected_value=val[3]
    no_of_rows=len(observed_value.iloc[0:2,0])
    no_of_columns=len(observed_value.iloc[0,0:2])
    dgof=(no_of_rows-1)*(no_of_columns-1)
    alpha=0.05
    for o,e in zip(observed_value.values,expected_value):
        chi_2 = sum([(o-e)**2./e])       
    chi2_stat = np.sum(chi_2)
    return chi2_stat
    
df1 = data.drop(['Class'], axis=1)
top_n1 =[]
for i in df1.columns.values:
    top_n1.append(chi_sqr(df1[i],data['Class']))
    
col_name1 = np.array(X.columns)
a1 = pd.DataFrame(top_n1)
b1 = pd.DataFrame(col_name1)
info1 = pd.concat([a1,b1], axis=1)
info1.columns = ['Score','Features']

top1 = info1.nsmallest(12,'Score')
ft1 = np.array(top1['Features'])
top1
ft1
#array(['31357_at', '31363_at', '31369_at', '31393_r_at', '31400_at'],\n      dtype=object)

array(['AFFX-MurIL2_at', 'AFFX-MurIL10_at', 'AFFX-MurIL4_at',
       'AFFX-MurFAS_at', 'AFFX-BioB-5_at', 'AFFX-BioB-M_at',
       'AFFX-BioB-3_at', 'AFFX-BioC-5_at', 'AFFX-BioC-3_at',
       'AFFX-BioDn-5_at', 'AFFX-DapX-5_at', 'AFFX-DapX-M_at'],
      dtype=object)

In [417]:
def fs_run1(classifier):
  top_fs=np.append(ft1,['Class'], axis=0)
  dfs = data.loc[:,top_fs]
  X = dfs.drop(['Class'], axis=1)
  y = dfs['Class']
  model = classifier()
  scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
  print('Accuracy 10 fold: %.4f (%.3f)' % (mean(scores)*100, std(scores)))

RFCa = fs_run1(GaussianNB)

Accuracy 10 fold: 66.6667 (0.279)

*Mutual Information*

In [418]:
from sklearn.feature_selection import mutual_info_classif

res = mutual_info_classif(X,y,discrete_features=True)

col_name2 = np.array(X.columns)

a2 = pd.DataFrame(res)
b2 = pd.DataFrame(col_name2)
info2 = pd.concat([a2,b2], axis=1)
info2.columns = ['Info_Gain','Features']

top2 = info2.nlargest(12,'Info_Gain')
ft2 = np.array(top2['Features'])
ft2
#array(['AFFX-MurIL2_at', 'AFFX-MurIL10_at', 'AFFX-MurIL4_at','AFFX-MurFAS_at', 'AFFX-BioB-5_at'], dtype=object)

array(['AFFX-MurIL2_at', 'AFFX-MurIL10_at', 'AFFX-MurIL4_at',
       'AFFX-MurFAS_at', 'AFFX-BioB-5_at', 'AFFX-BioB-M_at',
       'AFFX-BioB-3_at', 'AFFX-BioC-5_at', 'AFFX-BioC-3_at',
       'AFFX-BioDn-5_at', 'AFFX-BioDn-3_at', 'AFFX-CreX-5_at'],
      dtype=object)

In [420]:
def fs_run2(classifier):
  top_fs=np.append(ft2,['Class'], axis=0)
  dfs = data.loc[:,top_fs]
  X = dfs.drop(['Class'], axis=1)
  y = dfs['Class']
  model = classifier()
  scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
  print('Accuracy 10 fold: %.4f (%.3f)' % (mean(scores)*100, std(scores)))

RFCb = fs_run2(GaussianNB)

Accuracy 10 fold: 63.3333 (0.332)

*ReliefF*

In [42]:
pip install skrebate

Requirement already satisfied: skrebate in c:\programdata\anaconda3\lib\site-packages (0.61)
Requirement already satisfied: scikit-learn in c:\programdata\anaconda3\lib\site-packages (from skrebate) (0.21.3)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from skrebate) (1.16.5)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from skrebate) (1.3.1)
Requirement already satisfied: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn->skrebate) (0.13.2)
Note: you may need to restart the kernel to use updated packages.

In [404]:
from sklearn.pipeline import make_pipeline
from skrebate import ReliefF
from sklearn.pipeline import make_pipeline
from skrebate import ReliefF

features, classes = data.drop('Class', axis=1).values, data['Class'].values
X_train, X_test, y_train, y_test = train_test_split(features, classes)

arr = X_train.astype('float64')
fs = ReliefF()
fs.fit(arr, y_train)

top_n3=[]
names=[]
for feature_name, feature_score in zip(data.drop('Class', axis=1).columns, fs.feature_importances_):
    top_n3.append(feature_score)
    names.append(feature_name)
    
a3 = pd.DataFrame(top_n3)
b3 =pd.DataFrame(names)

info3 = pd.concat([a3,b3], axis=1)
info3.columns = ['Score','Features'] 

top3 = info3.nlargest(6,'Score')
ft3 = np.array(top3['Features'])
ft3
#array(['37639_at', '37720_at', '41468_at', '36864_at', '39756_g_at'],\n      dtype=object)

array(['428_s_at', '1054_at', '2077_at', '1527_s_at', '743_at', '529_at'],
      dtype=object)

In [421]:
def fs_run3(classifier):
  top_fs=np.append(ft3,['Class'], axis=0)
  dfs = data.loc[:,top_fs]
  X = dfs.drop(['Class'], axis=1)
  y = dfs['Class']
  model = classifier()
  scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
  print('Accuracy 10 fold: %.4f (%.3f)' % (mean(scores)*100, std(scores)))

RFCc = fs_run3(GaussianNB)

Accuracy 10 fold: 78.3333 (0.224)

*Union Function*

In [377]:
from functools import reduce
def top_fs_union(n):
    f1 = ft1[:n]
    f2 = ft2[:n]
    f3 = ft3[:n]
    print (reduce(np.union1d, (f1,f2,f3)))
    return(reduce(np.union1d, (f1,f2,f3)))

*Classifier function call with selected top n*

In [378]:
def assemble_run(n,classifier):
  top_fs=top_fs_union(n)
  top_fs=np.append(top_fs,['Class'], axis=0)
  dfs = data.loc[:,top_fs]
  X = dfs.drop(['Class'], axis=1)
  y = dfs['Class']
  model = classifier()
  scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
  print('Accuracy 10 fold: %.4f (%.3f)' % (mean(scores)*100, std(scores)))

In [379]:
#RANDOM FOREST CLASSIFIER

#Feature Subset by Union of Best Features from each
RFC1 = assemble_run(12,RandomForestClassifier)

['1319_at' '1380_at' '139_at' '1467_at' '1600_at' '170_at' '1987_at'
 '476_s_at' '529_at' '549_at' '584_s_at' '751_at' 'AFFX-BioB-3_at'
 'AFFX-BioB-5_at' 'AFFX-BioB-M_at' 'AFFX-BioC-3_at' 'AFFX-BioC-5_at'
 'AFFX-BioDn-3_at' 'AFFX-BioDn-5_at' 'AFFX-CreX-5_at' 'AFFX-DapX-5_at'
 'AFFX-DapX-M_at' 'AFFX-MurFAS_at' 'AFFX-MurIL10_at' 'AFFX-MurIL2_at'
 'AFFX-MurIL4_at']
Accuracy 10 fold: 76.6667 (0.327)

In [397]:
#KNN CLASSIFIER

#Feature Subset by Union of Best Features from each
KNN1 = assemble_run(7,KNeighborsClassifier)

['1319_at' '1380_at' '1467_at' '1600_at' '476_s_at' '529_at' '584_s_at'
 'AFFX-BioB-3_at' 'AFFX-BioB-5_at' 'AFFX-BioB-M_at' 'AFFX-MurFAS_at'
 'AFFX-MurIL10_at' 'AFFX-MurIL2_at' 'AFFX-MurIL4_at']
Accuracy 10 fold: 46.6667 (0.364)

In [414]:
#Naive Bayes CLASSIFIER
#Feature Subset by Union of Best Features from each
NB1 = assemble_run(12,GaussianNB)

['1054_at' '1527_s_at' '2077_at' '428_s_at' '529_at' '743_at'
 'AFFX-BioB-5_at' 'AFFX-BioB-M_at' 'AFFX-MurFAS_at' 'AFFX-MurIL10_at'
 'AFFX-MurIL2_at' 'AFFX-MurIL4_at']
Accuracy 10 fold: 76.6667 (0.249)

In [415]:
#SVM
#Feature Subset by Union of Best Features from each
SVM1 = assemble_run(5,SVC)

['1054_at' '1527_s_at' '2077_at' '428_s_at' '743_at' 'AFFX-BioB-5_at'
 'AFFX-MurFAS_at' 'AFFX-MurIL10_at' 'AFFX-MurIL2_at' 'AFFX-MurIL4_at']
Accuracy 10 fold: 45.0000 (0.279)

*Checking No of feaures for best accuracy*

In [29]:
print(len(top_fs_union(5)))

['1007_s_at' '1380_at' '1600_at' '418_at' '939_at' 'AFFX-BioB-5_at'
 'AFFX-MurFAS_at' 'AFFX-MurIL10_at' 'AFFX-MurIL2_at' 'AFFX-MurIL4_at']
10