In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('malware.csv')

In [3]:
data.head()

,Label,F_1,F_2,F_3,F_4,F_5,F_6,F_7,F_8,F_9,...,F_522,F_523,F_524,F_525,F_526,F_527,F_528,F_529,F_530,F_531
0,non-malicious,1,0,1,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1,non-malicious,1,0,1,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,non-malicious,1,0,1,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,non-malicious,1,0,1,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,non-malicious,1,0,1,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [4]:
data.dropna()
data.isnull().sum()

Label    0
F_1      0
F_2      0
F_3      0
F_4      0
        ..
F_527    0
F_528    0
F_529    0
F_530    0
F_531    0
Length: 532, dtype: int64

In [5]:
dict = {
    'Label':{
        'malicious':1,
        'non-malicious':0,
    }
}   
data=data.replace(dict)
data.head()

,Label,F_1,F_2,F_3,F_4,F_5,F_6,F_7,F_8,F_9,...,F_522,F_523,F_524,F_525,F_526,F_527,F_528,F_529,F_530,F_531
0,0,1,0,1,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,1,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,1,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,1,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,1,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [6]:
X = data.drop(['Label'], axis=1)
y = data.Label

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

from sklearn.neighbors import KNeighborsClassifier
model1 = KNeighborsClassifier()
model1.fit(x_train, y_train)
model1.score(x_test,y_test)

1.0

In [7]:
#Chi-Square Test

import scipy.stats as stats
from scipy.stats import chi2

def chi_sqr(test_column,output_column):
    observed_value = pd.crosstab(test_column,output_column)
    #print('observed value:\n',observed_value)
    val = stats.chi2_contingency(observed_value)
    expected_value=val[3]
    #print('expected value:\n',expected_value)
    no_of_rows=len(observed_value.iloc[0:2,0])
    no_of_columns=len(observed_value.iloc[0,0:2])
    dgof=(no_of_rows-1)*(no_of_columns-1)
    alpha=0.05
    #print('degree of freedom:',dgof)
    for o,e in zip(observed_value.values,expected_value):
        chi_2 = sum([(o-e)**2./e])       
    chi2_stat = np.sum(chi_2)
    return chi2_stat
    #critical_value = chi2.ppf(q=1-alpha, df=dgof)
    #print('critical_value:',critical_value)
    
    #p_value=1-chi2.cdf(x=chi2_stat, df=dgof)
    #print(p_value)

In [8]:
df1 = data.drop(['Label'], axis=1)
df1.head()

,F_1,F_2,F_3,F_4,F_5,F_6,F_7,F_8,F_9,F_10,...,F_522,F_523,F_524,F_525,F_526,F_527,F_528,F_529,F_530,F_531
0,1,0,1,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,1,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,1,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,1,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,1,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
top_n1 =[]
for i in df1.columns.values:
    top_n1.append(chi_sqr(df1[i],data['Label']))

In [10]:
X = data.drop(['Label'], axis=1)
col_name1 = np.array(X.columns)
a1 = pd.DataFrame(top_n1)
b1 = pd.DataFrame(col_name1)
info1 = pd.concat([a1,b1], axis=1)
info1.columns = ['Score','Features']
info1

         Score Features
0     0.000643      F_1
1     0.000000      F_2
2     0.006522      F_3
3     4.180556      F_4
4     0.006522      F_5
..         ...      ...
526   3.588040    F_527
527   8.132890    F_528
528   7.176080    F_529
529  44.916144    F_530
530  12.916944    F_531

[531 rows x 2 columns]

In [11]:
top1 = info1.nlargest(50,'Score')
ft1 = np.array(top1['Features'])
ft1

array(['F_19', 'F_140', 'F_66', 'F_111', 'F_113', 'F_278', 'F_50', 'F_69',
       'F_183', 'F_291', 'F_318', 'F_129', 'F_422', 'F_52', 'F_186',
       'F_29', 'F_55', 'F_497', 'F_47', 'F_362', 'F_417', 'F_21', 'F_31',
       'F_146', 'F_316', 'F_189', 'F_400', 'F_331', 'F_384', 'F_302',
       'F_237', 'F_324', 'F_127', 'F_314', 'F_352', 'F_196', 'F_202',
       'F_475', 'F_502', 'F_36', 'F_38', 'F_288', 'F_333', 'F_459',
       'F_477', 'F_479', 'F_300', 'F_13', 'F_234', 'F_418'], dtype=object)

In [12]:
#Information Gain/Mutual Information

from sklearn.feature_selection import mutual_info_classif

res = mutual_info_classif(X,y,discrete_features=True)

X = data.drop(['Label'], axis=1)
col_name2 = np.array(X.columns)

a2 = pd.DataFrame(res)
b2 = pd.DataFrame(col_name2)
info2 = pd.concat([a2,b2], axis=1)
info2.columns = ['Info_Gain','Features']
info2

        Info_Gain Features
0    5.758430e-04      F_1
1    7.216450e-16      F_2
2    1.277089e-03      F_3
3    4.425060e-03      F_4
4    1.277089e-03      F_5
..            ...      ...
526  8.824154e-03    F_527
527  2.061640e-02    F_528
528  1.807297e-02    F_529
529  1.569229e-01    F_530
530  3.386466e-02    F_531

[531 rows x 2 columns]

In [13]:
top2 = info2.nlargest(50,'Info_Gain')
ft2 = np.array(top2['Features'])
ft2

array(['F_20', 'F_19', 'F_139', 'F_140', 'F_66', 'F_67', 'F_111', 'F_162',
       'F_51', 'F_113', 'F_385', 'F_179', 'F_278', 'F_334', 'F_50',
       'F_318', 'F_49', 'F_266', 'F_69', 'F_182', 'F_183', 'F_291',
       'F_53', 'F_290', 'F_129', 'F_422', 'F_320', 'F_52', 'F_186',
       'F_435', 'F_29', 'F_55', 'F_497', 'F_323', 'F_47', 'F_30', 'F_362',
       'F_417', 'F_21', 'F_31', 'F_146', 'F_316', 'F_189', 'F_400',
       'F_200', 'F_399', 'F_526', 'F_331', 'F_384', 'F_302'], dtype=object)

In [14]:
#ReliefF

from sklearn.pipeline import make_pipeline
from skrebate import ReliefF

features, labels = data.drop('Label', axis=1).values, data['Label'].values
X_train, X_test, y_train, y_test = train_test_split(features, labels)

fs = ReliefF()
fs.fit(X_train, y_train)

top_n2=[]
for feature_name, feature_score in zip(data.drop('Label', axis=1).columns, fs.feature_importances_):
    top_n2.append(feature_score)

In [15]:
pip install skrebate

Requirement already satisfied: skrebate in c:\programdata\anaconda3\lib\site-packages (0.61)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from skrebate) (1.3.1)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from skrebate) (1.16.5)
Requirement already satisfied: scikit-learn in c:\programdata\anaconda3\lib\site-packages (from skrebate) (0.21.3)
Requirement already satisfied: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn->skrebate) (0.13.2)
Note: you may need to restart the kernel to use updated packages.

In [16]:
X = data.drop(['Label'], axis=1)
col_name3 = np.array(X.columns)
a3 = pd.DataFrame(top_n2)
b3 = pd.DataFrame(col_name3)
info3 = pd.concat([a3,b3], axis=1)
info3.columns = ['Score','Features']
info3

        Score Features
0    0.000000      F_1
1    0.000000      F_2
2    0.010197      F_3
3    0.010197      F_4
4    0.010197      F_5
..        ...      ...
526 -0.010358    F_527
527 -0.029211    F_528
528 -0.015806    F_529
529  0.352582    F_530
530 -0.004552    F_531

[531 rows x 2 columns]

In [17]:
top3 = info3.nlargest(50,'Score')
ft3 = np.array(top3['Features'])
ft3

array(['F_20', 'F_19', 'F_139', 'F_140', 'F_111', 'F_318', 'F_66', 'F_67',
       'F_162', 'F_113', 'F_51', 'F_179', 'F_385', 'F_69', 'F_334',
       'F_182', 'F_266', 'F_278', 'F_435', 'F_183', 'F_29', 'F_30',
       'F_49', 'F_250', 'F_50', 'F_53', 'F_422', 'F_47', 'F_320', 'F_21',
       'F_31', 'F_129', 'F_186', 'F_290', 'F_291', 'F_316', 'F_55',
       'F_323', 'F_380', 'F_300', 'F_52', 'F_362', 'F_497', 'F_403',
       'F_526', 'F_530', 'F_146', 'F_189', 'F_200', 'F_202'], dtype=object)

In [18]:
#Xvariance

Xvariance = np.empty((452, 280),int)
X = data[data.Label == 0]
Y = data[data.Label == 1]
X_var=X[:].var()
Y_var = Y[:].var()
D = X_var + Y_var
DL=D.nlargest(n=50)
ft4=np.array(DL.index)
print (ft4)

['F_274' 'F_373' 'F_369' 'F_415' 'F_275' 'F_61' 'F_341' 'F_370' 'F_125'
 'F_425' 'F_15' 'F_481' 'F_451' 'F_344' 'F_360' 'F_466' 'F_205' 'F_467'
 'F_135' 'F_419' 'F_420' 'F_141' 'F_250' 'F_33' 'F_499' 'F_505' 'F_380'
 'F_300' 'F_227' 'F_506' 'F_476' 'F_366' 'F_399' 'F_200' 'F_116' 'F_330'
 'F_503' 'F_403' 'F_207' 'F_30' 'F_238' 'F_21' 'F_31' 'F_146' 'F_316'
 'F_400' 'F_417' 'F_189' 'F_362' 'F_89']

In [19]:
#Correlation

df1 = data.drop(['Label'], axis=1)
op=data['Label']
a5=[]
c5=[]

for i in df1.columns.values:
    correlation=op.corr(df1[i])
    if correlation>0.5:
        a5.append(correlation)
        c5.append(i)

dfc5=pd.DataFrame(c5)
dfa5=pd.DataFrame(a5)

info5 = pd.concat([dfc5,dfa5], axis=1)
info5.columns = ['name','correlation']

In [20]:
print(info5)

     name  correlation
0    F_20     0.928607
1    F_26     0.590973
2    F_30     0.696805
3    F_37     0.579709
4    F_39     0.579709
5    F_42     0.556708
6    F_44     0.533004
7    F_49     0.775029
8    F_51     0.821932
9    F_53     0.746212
10   F_67     0.858611
11   F_89     0.602091
12  F_116     0.634654
13  F_132     0.533004
14  F_139     0.903605
15  F_162     0.840356
16  F_179     0.803325
17  F_182     0.773690
18  F_200     0.666174
19  F_207     0.613073
20  F_238     0.613073
21  F_250     0.576384
22  F_266     0.775029
23  F_290     0.736477
24  F_320     0.726672
25  F_323     0.715621
26  F_330     0.634654
27  F_334     0.793947
28  F_366     0.564876
29  F_380     0.607066
30  F_385     0.812653
31  F_399     0.655773
32  F_403     0.623925
33  F_435     0.716794
34  F_449     0.520857
35  F_499     0.501766
36  F_503     0.589153
37  F_526     0.511906
38  F_530     0.506620

In [21]:
top5 = info5.nlargest(50,'correlation')
ft5 = np.array(top5['name'])
ft5

array(['F_20', 'F_139', 'F_67', 'F_162', 'F_51', 'F_385', 'F_179',
       'F_334', 'F_266', 'F_49', 'F_182', 'F_53', 'F_290', 'F_320',
       'F_435', 'F_323', 'F_30', 'F_200', 'F_399', 'F_116', 'F_330',
       'F_403', 'F_238', 'F_207', 'F_380', 'F_89', 'F_26', 'F_503',
       'F_39', 'F_37', 'F_250', 'F_366', 'F_42', 'F_44', 'F_132', 'F_449',
       'F_526', 'F_530', 'F_499'], dtype=object)

In [22]:
from functools import reduce
def top_fs_union(n):
    f1 = ft1[:n]
    f2 = ft2[:n]
    f3 = ft3[:n]
    f4 = ft4[:n]
    f5 = ft5[:n]
    return(reduce(np.union1d, (f1,f2,f3,f4,f5)))

In [25]:
f1 = ft1[:5]
f2 = ft2[:5]
f3 = ft3[:5]
f4 = ft4[:5]
f5 = ft5[:5]
f=reduce(np.union1d, (f1,f2,f3,f4,f5))
f

array(['F_111', 'F_113', 'F_139', 'F_140', 'F_162', 'F_19', 'F_20',
       'F_274', 'F_275', 'F_369', 'F_373', 'F_415', 'F_51', 'F_66',
       'F_67'], dtype=object)

In [123]:
def assemble_run(n,classifier,test_size):
  top_fs=top_fs_union(n)
  top_fs=np.append(top_fs,['Label'], axis=0)
  df = data.loc[:,top_fs]
  X = df.drop(['Label'], axis=1)
  y = df['Label']
  from sklearn.model_selection import train_test_split
  x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=test_size)
  model = classifier()#modify the code ,keep classifier in different function and call here
  model.fit(x_train, y_train)
  print (model.score(x_test,y_test))

In [126]:
#Feature Subset by Union of 5 Best Features from each
assemble_run(5,KNeighborsClassifier,.5)

0.9786096256684492

In [127]:
#Feature Subset by Union of 10 Best Features from each
assemble_run(10,KNeighborsClassifier,.5)

0.9893048128342246

In [131]:
#Feature Subset by Union of 20 Best Features from each
assemble_run(20,KNeighborsClassifier,.5)

0.9893048128342246

In [136]:
#Feature Subset by Union of 30 Best Features from each
assemble_run(30,KNeighborsClassifier,.5)

0.9946524064171123

In [133]:
#Feature Subset by Union of 40 Best Features from each
assemble_run(40,KNeighborsClassifier,.5)

0.9893048128342246

In [135]:
#Feature Subset by Union of 50 Best Features from each
assemble_run(50,KNeighborsClassifier,.5)

0.9893048128342246